 {# src/AdManager/PublisherBundle/Resources/views/Publisher/index.html.twig #}
 {% extends 'AdManagerPublisherBundle::base.html.twig' %}

 {% block title %}Publishers{% endblock %}
 {% block body %}
    {% for publisher in publishers %}
	<h2><a href="{{ path('publisher_show', {'id' : publisher }) }}">{{ publisher }}</a></h2>
    {% endfor %}
 {% endblock %}