 {# src/AdManager/PublisherBundle/Resources/views/Publisher/index.html.twig #}
 {% extends 'AdManagerPublisherBundle::base.html.twig' %}

 {% block title %}Draw Publisher {{ publisher.id }}{% endblock %}
 {% block body %}
 <p class='last'>
    Publisher Name = {{ publisher.name }}!
 </p>
    {% for ad in publisher.ads %}
	<div class='ad-details span4 offset1'>
	    {% include 'AdManagerPublisherBundle:Ad:adDetails.html.twig' with {'ad': ad} %}
	</div>
    {% endfor %}
     
 {% endblock %}