 {# src/AdManager/PublisherBundle/Resources/views/Publisher/index.html.twig #}
 {% extends 'AdManagerPublisherBundle::base.html.twig' %}

 {% block title %}Draw Ad {{ ad.id }}{% endblock %}
 {% block body %}
 <p>Created = {{ ad.CreationDate.format('Y-m-d H:i:s') }}!</p>
 <p>Publisher = {{ ad.getPublisher().getName() }}!</p>
 {% endblock %}