 {# src/AdManager/PublisherBundle/Resources/views/Publisher/index.html.twig #}
 {% extends 'AdManagerPublisherBundle::base.html.twig' %}

 {% block title %}Draw Ad {{ ad.id }}{% endblock %}
 {% block body %}
 <div class='ad-details'>
	{% include 'AdManagerPublisherBundle:Ad:adDetails.html.twig' with {'ad': ad} %}
 </div>
 {% endblock %}